@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.modal-body input,
.modal-body select,
.modal-body textarea
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: rgb(255, 255, 255);
}

.home {
    margin-left:250px;
    min-height:100vh;
    background:#f5f7fa;
    padding:25px;

}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}
.nav-text {
  color:  rgb(255, 247, 247);
}

.sidebar .text {
  font-size: 16px;
  font-weight: 400;
}

.sidebar .image {
  min-width: 80px;
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: rgb(35, 143, 84);
  padding: 1.5rem 0.75rem 1rem;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar .image-text img {
  width: 80px;
  border-radius: 6px;
}

.header-text .name {
  font-weight: 500;
  color: rgb(255, 247, 247);
}

.sidebar li {
  height: 30px;
  margin-top: 5px;
  list-style: none;
  display: flex;
  align-items: center;

}

.sidebar li i {
  font-size:20px;
  min-width: 60px;


}

.sidebar li i,
.sidebar li .text {
    transition:2s;
    color: rgb(255, 247, 247);
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  border-radius:6px;
  text-decoration: none;

}
.sidebar li a:hover {
    background:darkolivegreen
}
.sidebar li a:hover i,
.sidebar li a:hover .text {

    color:rgb(137, 221, 172)
}

/* Top Navigation */

.top-nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 3px 10px rgba(0,0,0,.1);
  margin-bottom:25px;
}

.admin-profile {
  display:flex;
  align-items:center;
  gap:15px;
}

.admin-profile i {
  font-size:25px;
  cursor:pointer;
}

/*Footer */
.footer {
  padding:20px;
  

}

